.slider {
    border-radius: 5px;
    background: #e48181;
    background: linear-gradient(left top, #e48181, #e48181);
    width: 310px;
    height: 15px;
    margin: 5px;
  }
  
  .thumb {
    width: 10px;
    height: 25px;
    border-radius: 3px;
    position: relative;
    left: 10px;
    top: -5px;
    background: rgb(153, 0, 255);
    cursor: pointer;
  }